########
### This file holds the parameters specificaly for "1 cores, 0 GT, 3 CBOs" configuration
########

### Segments to calculate power for. For each segment, ALPS will output all the power output files. The planes are defined in the planes_cfg knob.
#-segments capacitance,mobile_2,desktop
-segments capacitance

### Multi instance information per location. First word is the location name.
-core_multi_inst_num 1
-core_multi_inst_loc core
-core_multi_inst_prefix_org p0.c0
-core_multi_inst_prefix_dest p0.c
-uncore_multi_inst_num 3
-uncore_multi_inst_loc llcbo
-uncore_multi_inst_prefix_org cbo0
-uncore_multi_inst_prefix_dest cbo

-ncores 1

### The general gesher parameters
-cfg hsw.cfg

-hashes_file ../traces_groups_hashes_file.clientST.cfg
-hashes_file ../traces_groups_hashes_file.study_09Q4ww52_ST.tlist.cfg
